.main {
  stroke: var(--color-neutral-80);
  stroke-width: 2px;
  text {
    fill: var(--color-neutral-80);
    stroke: none;
  }
  polygon {
    fill: var(--color-neutral-80);
  }
}

.car {
  rect {
    fill: transparent;
    paint-order: fill;
  }
  text {
    font-size: 24px;
  }
}

.dot {
  circle {
    fill: var(--color-neutral-80);
    r: 5px;
  }
  text {
    font-size: 12px;
  }
}

.measure {
  text {
    text-anchor: middle;
    font-size: 12px;
  }
}

.green {
  line, polygon {
    stroke: var(--color-x-green);
    fill: var(--color-x-green);
  }
}
.orange {
  line, polygon, path {
    stroke: var(--color-secondary);
  }
  polygon {
    fill: var(--color-secondary);
  }
  path {
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
    fill: transparent;
  }
}