$artt-blue: #077185;
$artt-orange: #D76D07;
$off-white-background: #F4F1F0;
$off-black-background: #1a202c;
$code-background-light: #E8E1DE;
$code-background-dark: #090b0e; //273042

// derived colors

$properties:
  "background",
  "background-contrast",
  "background-alt",
  "primary",
  "secondary",
  "text",
  "heading",
  "x-green",
  "x-blue",
  "x-yellow",
  "x-red",
  "x-grey",
  "x-purple",
  "code-background",
  "cover-shadow-spread",
  "cover-shadow-focus";

// TODO: add all required colors here so there's no wait
// like neutral colors, etc.
// also look at how the wave is being rendered (the colors don't show up right away)

$themes: (
	light: (
    background: $off-white-background,
    background-contrast: rgba(255, 255, 255, 1),
    background-alt: scale-color($off-white-background, $lightness: -5%),
    primary: $artt-blue,
    secondary: $artt-orange,
    text: rgba(0,0,0,0.87),
    heading: $artt-blue,
    x-green: rgba(0, 128, 0, 1),
    x-blue: scale-color(#4BB3D3, $lightness: -40%),
    x-yellow: scale-color(#f5b318, $lightness: -20%),
    x-red: #f44336,
    x-grey: scale-color(#aaaaaa, $lightness: -30%),
    x-purple: #9c27b0,
    code-background: $code-background-light,
    cover-shadow-spread: rgba(black, 0.15),
    cover-shadow-focus: rgba(black, 0.2),
  ),
  dark: (
    background: $off-black-background,
    background-contrast: rgba(0, 0, 0, 1),
    background-alt: scale-color($off-black-background, $lightness: 5%),
    primary: scale-color($artt-blue, $lightness: 10%),
    secondary: scale-color($artt-orange, $lightness: 20%, $saturation: -20%),
    text: rgba(255, 255, 255, 0.87),
    heading: scale-color($artt-blue, $lightness: 50%, $saturation: -40%),
    x-green: scale-color(green, $lightness: 50%, $saturation: -40%),
    x-blue: #4BB3D3,
    x-yellow: #f5b318,
    x-red: scale-color(#f44336, $lightness: 10%),
    x-grey: #aaaaaa,
    x-purple: scale-color(#9c27b0, $lightness: 30%),
    code-background: $code-background-dark,
    cover-shadow-spread: rgba(black, 0.4),
    cover-shadow-focus: rgba(black, 0.6),
  ),
);

:root {
 
  @each $prop in $properties {
    --color-#{$prop}: #{map-get(map-get($themes, "light"), '#{$prop}')};
  }

  &[data-theme="dark"] {
    @each $prop in $properties {
      --color-#{$prop}: #{map-get(map-get($themes, "dark"), '#{$prop}')};
    }
  }

}