:root {

  --font-body: "Bai Jamjuree", "Mulish", Sans-serif;
  --font-heading: "Athiti", Sans-serif;
  --font-en: "Mulish", Sans-serif;
  --font-mono: "Menlo", "Monaco", "Consolas", "Courier New", monospace;

  --color-artt-blue: #077185;
  --color-artt-orange: #D76D07;
  --color-off-white-background: #F4F1F0;
  --color-off-black-background: #1a202c;
  --color-code-background-light: #E8E1DE;
  --color-code-background-dark: #090b0e;
}
