@import "globalVariables";
@import "fonts.css";
@import "darkmode";
// @import "code";



body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

.cap-width {
  box-sizing: border-box;
  max-width: var(--width-content);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--width-margin);
}

.spacer {
  flex: 1 0 auto;
}