@import "globalVariables";
@import "fonts.css";
@import "darkmode";
// @import "code";



body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

.cap-width {
  box-sizing: border-box;
  max-width: var(--width-content);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--width-margin);
  padding-right: var(--width-margin);
}

.spacer {
  flex: 1 0 auto;
}

.hide-on-desktop {
  display: flex;
  @media screen and (min-width: $screen-mid) {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
  @media screen and (min-width: $screen-mid) {
    display: flex;
  }
}

.hide-on-desktop-block {
  display: block;
  @media screen and (min-width: $screen-mid) {
    display: none;
  }
}

.hide-on-mobile-block {
  display: none;
  @media screen and (min-width: $screen-mid) {
    display: block;
  }
}