@import "globalVariables";
@import "fonts.css";
@import "darkmode";
// @import "code";

$primary-10: color-mix(in srgb, var(--color-primary) 10%, var(--color-background));
$secondary-50: color-mix(in srgb, var(--color-secondary) 40%, var(--color-background));
$secondary-text: color-mix(in srgb, var(--color-secondary) 20%, var(--color-text));

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: filter var(--time-short);
  &:hover:not(.nodecoration) {
    filter: opacity(0.7);
  }
  main :not(h1, h2, h3, h4, h5, h6) > &:not(.nodecoration) {
    background-image: linear-gradient(rgba(black, 0) 50%, $secondary-50 50%);
    background-size: auto 140%;
    transition: background-position-y var(--time-short);
    &:hover {
      filter: none;
      background-position-y: 120%;	
    }
  }
  // remove effect for things we don't need
  main .js-plotly-plot & {
    background-image: none;
  }
}

.cap-width {
  box-sizing: border-box;
  max-width: var(--width-content);
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--width-margin);
  padding-right: var(--width-margin);
}

.spacer {
  flex: 1 0 auto;
}

.hide-on-desktop {
  display: flex;
  @media screen and (min-width: $screen-mid) {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
  @media screen and (min-width: $screen-mid) {
    display: flex;
  }
}

.hide-on-desktop-block {
  display: block;
  @media screen and (min-width: $screen-mid) {
    display: none;
  }
}

.hide-on-mobile-block {
  display: none;
  @media screen and (min-width: $screen-mid) {
    display: block;
  }
}

main {
  h1 {
    font-size: 3rem;
  }
}