---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocale } from "astro-i18n-aut";
import Hero from '@/components/Hero';
import Section from '@/components/Section.astro';
import { getAllBlogPosts } from '@/lib/mdxUtils';
import CardList from '@/components/CardList.astro';

const title = "Home";

const sortedBlogs = await getAllBlogPosts(getLocale(Astro.url), 6)

---

<BaseLayout title={title} noCap noSplit noCover noTitle>
  <Hero client:only="react" />
  <Section
    title={getLocale(Astro.url) === "th"
      ? "บล็อกล่าสุด"
      : "Latest blog posts"
    }
  >
    <CardList entries={sortedBlogs} />
  </Section>
  <Section />
</BaseLayout>