---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocale } from "astro-i18n-aut";
import Hero from '@/components/Hero';
import Section from '@/components/Section.astro';
import { getAllBlogPosts } from '@/lib/mdxUtils';
import CardList from '@/components/CardList.astro';
import Link from '@/components/Link.astro';
import { getCollection } from 'astro:content';

const title = "Home";

const sortedBlogs = await getAllBlogPosts(getLocale(Astro.url))

const projects = await getCollection('projects')
console.log(projects)

---

<BaseLayout title={title} noCap noSplit noCover noTitle>
  
  <div class="heroSize">
    <Hero client:only="react" />
  </div>
  
  <Section
    title={getLocale(Astro.url) === "th"
      ? "บทความล่าสุด"
      : "Latest blog posts"
    }
  >
    <CardList entries={sortedBlogs.slice(0, 6)} />
    <!-- align this to the right -->
    <Link href="/blog" class="mt-4 inline-block">
      {getLocale(Astro.url) === "th"
        ? `ดูบทความทั้ง ${sortedBlogs.length} บทความ`
        : `View all ${sortedBlogs.length} blog posts`
      }
    </Link>
  </Section>
  
  <Section
    title={getLocale(Astro.url) === "th"
      ? "โปรเจคล่าสุด"
      : "Latest projects"
    }
  >
    <div>XXX</div>
  </Section>

</BaseLayout>