---

import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocale } from "astro-i18n-aut";
import Hero from '@/components/Hero';
import Section from '@/components/Section.astro';
import { getAllBlogPosts } from '@/lib/mdxUtils';
import CardList from '@/components/CardList.astro';
import Link from '@/components/Link.astro';
import { getText } from '@/lib/lang';
import ProjectsCarousel from '@/components/ProjectsCarousel.astro';

const title = "Home";

const lang = getLocale(Astro.url);

const sortedBlogs = await getAllBlogPosts(lang)

---

<BaseLayout title={title} noCap noSplit noCover noTitle>
  
  <div class="heroSize">
    <Hero client:only="react" />
  </div>
  
  <Section
    title={getText(lang, {
      th: "บทความล่าสุด",
      en: "Latest blog posts"
    })}
  >
    <CardList entries={sortedBlogs.slice(0, 6)} numEagerLoad={3} />
    <!-- align this to the right -->
    <Link href="/blog" class="mt-4 inline-block">
      {getText(lang, {
        th: `ดูบทความทั้ง ${sortedBlogs.length} บทความ`,
        en: `View all ${sortedBlogs.length} blog posts`
      })}
    </Link>
  </Section>
  
  <Section
    title={getText(lang, {
      th: "งานประดิษฐ์",
      en: "Things I make"
    })}
  >
    <ProjectsCarousel />
  </Section>

</BaseLayout>