---
import BaseLayout from '../layouts/BaseLayout.astro';
// import { getLocale } from "astro-i18n-aut";
const pageTitle = "กขค English";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- {getLocale(Astro.url)} -->
  <p>การกระทำที่ Excellent นี้</p>
</BaseLayout>