---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocale } from "astro-i18n-aut";
const pageTitle = "artt.dev";
---
<BaseLayout pageTitle={pageTitle}>
  {getLocale(Astro.url) === "th"
    ? <p>อันนี้หน้าแรกแบบภาษาไทย</p>
    : <p>This is the homepage</p>
  }
</BaseLayout>