---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocale } from "astro-i18n-aut";
import Hero from '@/components/Hero';
import Section from '@/components/Section.astro';
import { getAllBlogPosts } from '@/lib/mdxUtils';

const title = "artt.dev";

const sortedBlogs = await getAllBlogPosts(getLocale(Astro.url), 6)

---

<BaseLayout title={title} noCap noSplit noCover noTitle>
  <Hero client:only="react" />
  <Section
    title={getLocale(Astro.url) === "th"
      ? "บทความล่าสุด"
      : "Latest blog posts"
    }
  >
    
  </Section>
  <Section>
    xxxyy
  </Section>
  <Section />
</BaseLayout>