---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "กขค English";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>การกระทำที่ Excellent นี้</p>
</BaseLayout>