---


---

<style lang="scss">
  #component-langswitch {
    height: 100%;
    width: var(--icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--time-short);
    &:hover {
      // transform: scale(1.1);
    }

    svg {
      height: var(--icon-size);
      width: var(--icon-size);
      cursor: pointer;
      circle {
        fill: var(--color-heading);
        stroke: none;
      }
      path {
        stroke: var(--color-background);
        stroke-width: 5px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        transition: d var(--time-long);
      }
    }

    :root[data-preferred-lang="th"] &:hover svg path, :root[data-preferred-lang="en"] & svg path {
      d: path("M -13 39 L -8 24 C -3 24 3 24 8 24 C 3 24 -3 24 -8 24 C -6 18 -2 6 0 0 C 0 0 5 15 6 18 C 8 24 13 39 13 39");
    }
    :root[data-preferred-lang="en"] &:hover svg path, :root[data-preferred-lang="th"] & svg path {
      d: path("M -13 39 L -13 20 C -13 16 -6 14 -6 14 C -6 14 -9 11 -16 11 C -16 11 -13 0 0 0 C 11 0 13 8 13 11 C 13 20 13 30 13 39");
    }

  }

</style>

<div id="component-langswitch">
  <svg viewBox="-30 -10 60 60">
    <circle cx="0" cy="20" r="30" />
    <path />
  </svg>
</div>

<script>
  import { switchLang } from '@/lib/lang'
  document.addEventListener('astro:page-load', () => {
    const langSwitch = document.getElementById('component-langswitch')
    langSwitch?.addEventListener('click', switchLang)
    const langSwitchPath = langSwitch?.querySelector('path')
    const preferredLang = document.documentElement.dataset.preferredLang
    langSwitchPath?.setAttribute('d', preferredLang === "th"
      ? "M -13 39 L -8 24 C -3 24 3 24 8 24 C 3 24 -3 24 -8 24 C -6 18 -2 6 0 0 C 0 0 5 15 6 18 C 8 24 13 39 13 39"
      : "M -13 39 L -13 20 C -13 16 -6 14 -6 14 C -6 14 -9 11 -16 11 C -16 11 -13 0 0 0 C 11 0 13 8 13 11 C 13 20 13 30 13 39"
    )
  })
</script>