---
import BlogCard from "./BlogCard.astro"

const { entries } = Astro.props
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 lg:gap-8">
  <!-- TODO: fix this any -->
  {entries.map((entry: any) => (
    <BlogCard {...entry} />
  ))}
</div>