---
import BlogCard from "./BlogCard.astro"

const { entries, numEagerLoad, hideSome } = Astro.props
---

<style is:global lang="scss">
  @use "@/styles/globalVariables" as *;
  #component-blog-list {
    grid-template-columns: 1fr;
    &.hideSome > *:nth-child(n+4) {
      display: none;
    }
  }
  @media screen and (min-width: $screen-small) {
    #component-blog-list {
      grid-template-columns: repeat(2, 1fr);
      &.hideSome > *:nth-child(4) {
        display: block;
      }
      &.hideSome > *:nth-child(n+5) {
        display: none;
      }
    }
  }
  @media screen and (min-width: $screen-large) {
    #component-blog-list {
      grid-template-columns: repeat(3, 1fr);
      &.hideSome > *:nth-child(n) {
        display: block;
      }
    }
  }
</style>

<div id="component-blog-list" class:list={["grid gap-4 sm:gap-6 lg:gap-8", { hideSome: hideSome }]}>
  <!-- TODO: fix this any -->
  {entries.map((entry: any, i: number) => (
    <BlogCard priority={i < numEagerLoad} {...entry} />
  ))}
</div>