---
import BlogCard from "./BlogCard.astro"

const { entries } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  <!-- TODO: fix this any -->
  {entries.map((entry: any) => (
    <BlogCard data={entry.entry!.data} slug={entry.mainSlug} />
  ))}
</div>