---
import { getText } from "@/lib/lang";
import { getLocale } from "astro-i18n-aut";

const { type } = Astro.props;
const lang = getLocale(Astro.url)
---
<div class="fignote">
  <span class="fignote-heading">
    {type === "source" && getText(lang, { th: "ที่มา: ", en: "Source: " })}
    {type === "note" && getText(lang, { th: "หมายเหตุ: ", en: "Note: " })}
  </span>
  <slot />
</div>