---



---

<style lang="scss">

  $line-height: 3px;
  $shift-x: 0;

  input {
    display: block;
    width: var(--icon-size);
    height: 5 * $line-height;
    position: absolute;
    margin: 0;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }

  span {
		opacity: 0.7;
		display: block;
		width: var(--icon-size);
		height: $line-height;
		margin-bottom: $line-height;
		position: relative;
		background: var(--color-text);
		border-radius: calc($line-height / 2);
		z-index: 1;
		transition: transform var(--time-long) cubic-bezier(0.77, 0.2, 0.05, 1.0),
								opacity var(--time-long) ease;
	}

  .top,
	.bottom {
		transform-origin: calc($line-height / 2) 50%;
	}

  .bottom {
		margin-bottom: 0;
	}

  input:checked {
		~ .top {
			opacity: 1;
			transform: rotate(45deg) translate(-$shift-x, 0);
		}
		~ .middle {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}
		~ .bottom {
			opacity: 1;
			transform: rotate(-45deg) translate(-$shift-x, 0);
		}
	}

</style>

<div class="hide-on-desktop-block">
  <input type="checkbox" />
  <span class="top" />
  <span class="middle" />
  <span class="bottom" />
</div>