---
import { getCollection } from 'astro:content';

import 'swiper/css';

const projects = await getCollection('projects')

---

<style lang="scss">
  .swiper-slide {
    height: 400px;
    max-width: 600px;
  }
</style>


<div class="swiper">
  <div class="swiper-wrapper">
  {
    projects.map((project) => (
      <div class="swiper-slide bg-[var(--color-background-contrast)]">
        {project.data.title}
      </div>
    ))
  }
  </div>
  <div class="swiper-pagination" />
</div>

<script>
  import Swiper from 'swiper';
  // somehow we need this: https://stackoverflow.com/questions/76702448/how-to-connect-swiper-js-to-astro-build-and-make-it-a-component
  import { register } from 'swiper/element/bundle';
  register();
  new Swiper(".swiper", {
    effect: "coverflow",
    grabCursor: true,
    loop: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 20,
      stretch: 0,
      depth: 100,
      modifier: 1,
      scale: 0.95,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>
