---
import { getText } from '@/lib/lang';
import { getLocale } from 'astro-i18n-aut';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import 'swiper/css';
const lang = getLocale(Astro.url)
const projects = await getCollection('projects')

---

<style lang="scss">
  .swiper-slide {
    height: 400px;
    max-width: min(90vw, 600px);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>


<div class="swiper full-width">
  <div class="swiper-wrapper">
  {
    projects.map((project) => (
      <div class="swiper-slide bg-[var(--color-background-contrast)] rounded-2xl overflow-hidden">
        <Image src={project.data.image} alt={project.data.title} width="400" height="400" class="object-cover h-full w-full" />
        <div class="p-4">
          <div class="font-heading text-xl text-heading font-bold mt-16 mb-8">{project.data.title}</div>
          <div>
            {getText(lang, project.data.description)}
          </div>
        </div>
      </div>
    ))
  }
  </div>
  <div class="swiper-pagination" />
</div>

<script>
  import Swiper from 'swiper';
  // somehow we need this: https://stackoverflow.com/questions/76702448/how-to-connect-swiper-js-to-astro-build-and-make-it-a-component
  import { register } from 'swiper/element/bundle';
  document.addEventListener(
    'astro:page-load',
    () => {
      register();
      new Swiper(".swiper", {
        effect: "coverflow",
        grabCursor: true,
        loop: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 20,
          stretch: 0,
          depth: 200,
          modifier: 1,
          scale: 0.95,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });
    }
  )
</script>
