---
import { formatDate } from "@/lib/utils"

const { title, subtitle, date } = Astro.props

let formattedDate = ''
if (date) {
  formattedDate = formatDate(date)
}
---

<header class="relative">
  <h1 class="m-0 text-4xl font-heading font-bold">{title}</h1>
  {subtitle && <p class="m-0 font-heading text-secondary">{subtitle}</p>}
  {date && <time class="text-sm" datetime={date}>{formattedDate}</time>}
</header>