---
const { title, subtitle, date } = Astro.props

const d = new Date(date)
const formattedDate = d.toISOString().split('T')[0].replaceAll('-', '⋅')
---

<header class="relative">
  <h1 class="m-0 text-4xl font-heading font-bold">{title}</h1>
  {subtitle && <p class="m-0 font-heading text-secondary">{subtitle}</p>}
  {date && <time class="text-sm" datetime={date}>{formattedDate}</time>}
</header>