---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import { getLocale } from "astro-i18n-aut";
import { Image } from 'astro:assets';

const { pageTitle } = Astro.props;

import '@styles/global.scss';
import '@styles/layout.scss';
import TitleBlock from '@components/TitleBlock.astro';

---


<html lang={getLocale(Astro.url)}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={`https://js.api.artt.dev/random-shapes/blobs.svg?numBlobs=2&fill=%23077185,%23D76D07cc&stroke=none&v=${Date.now()}`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <script is:inline data-astro-rerun src="/loadTheme.js" />
    <script is:inline data-astro-rerun src="/loadLang.js" />
    <Header />
    <!-- cover -->
    <main class="cap-width pt-[--height-navbar] split">
      <!-- titleblock -->
      <TitleBlock title="Test" subtitle="Subtitle" date="2020-01-01" />
      <div id="content">
        <slot />
      </div>
      <div>sidebar</div>
    </main>
    <div id="component-spacer" class="spacer" />
    <Footer />
  </body>
</html>
<script src="../scripts/darkmode.js" />